AlphaMosaik.Logger.StressTest/Service References/Logger/AlphaMosaikLogger1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1667/AlphaMosaikLogger?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlphaMosaik.Logger.Service" />
  <xs:import schemaLocation="http://localhost:1667/AlphaMosaikLogger?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AlphaMosaik.Logger" />
  <xs:import schemaLocation="http://localhost:1667/AlphaMosaikLogger?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="LogEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AlphaMosaik.Logger.Service" minOccurs="0" name="entry" nillable="true" type="q1:LogEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AlphaMosaik.Logger" minOccurs="0" name="level" type="q2:LogEntryLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogException">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="exception" nillable="true" type="q3:Exception" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogExceptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>