AlphaMosaik.Logger.StressTest/Service References/Logger/LoggerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="LoggerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="TcpBasicEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost:1667/AlphaMosaikLogger?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1667/AlphaMosaikLogger?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1667/AlphaMosaikLogger?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1667/AlphaMosaikLogger?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlphaMosaik.Logger.Service" />
      <xsd:import schemaLocation="http://localhost:1667/AlphaMosaikLogger?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AlphaMosaik.Logger" />
      <xsd:import schemaLocation="http://localhost:1667/AlphaMosaikLogger?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogger_LogEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:LogEntry" />
  </wsdl:message>
  <wsdl:message name="ILogger_LogEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogEntryResponse" />
  </wsdl:message>
  <wsdl:message name="ILogger_LogMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:LogMessage" />
  </wsdl:message>
  <wsdl:message name="ILogger_LogMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ILogger_LogException_InputMessage">
    <wsdl:part name="parameters" element="tns:LogException" />
  </wsdl:message>
  <wsdl:message name="ILogger_LogException_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogExceptionResponse" />
  </wsdl:message>
  <wsdl:portType name="ILogger">
    <wsdl:operation name="LogEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogger/LogEntry" message="tns:ILogger_LogEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogger/LogEntryResponse" message="tns:ILogger_LogEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogger/LogMessage" message="tns:ILogger_LogMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogger/LogMessageResponse" message="tns:ILogger_LogMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogException">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogger/LogException" message="tns:ILogger_LogException_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogger/LogExceptionResponse" message="tns:ILogger_LogException_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TcpBasicEndPoint" type="tns:ILogger">
    <wsp:PolicyReference URI="#TcpBasicEndPoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="LogEntry">
      <soap12:operation soapAction="http://tempuri.org/ILogger/LogEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogMessage">
      <soap12:operation soapAction="http://tempuri.org/ILogger/LogMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogException">
      <soap12:operation soapAction="http://tempuri.org/ILogger/LogException" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoggerService">
    <wsdl:port name="TcpBasicEndPoint" binding="tns:TcpBasicEndPoint">
      <soap12:address location="net.tcp://localhost:1666/AlphaMosaikLogger" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1666/AlphaMosaikLogger</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>alphamosaiklogger@litware.lan</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="MetadataExchangeTcpBinding_ILogger" binding="i0:MetadataExchangeTcpBinding_ILogger">
      <soap12:address location="net.tcp://localhost:1666/AlphaMosaikLogger/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1666/AlphaMosaikLogger/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>