AlphaMosaik.Logger/Configuration/StorageProviderDefinitions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StorageProviderDefinitions">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Provider">
          <xs:complexType>
            <xs:attribute name="ID" type="xs:string" use="required" />
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="DisplayName" type="xs:string" use="optional" />
            <xs:attribute name="Description" type="xs:string" use="optional" />
            <xs:attribute name="ConfigurationUrl" type="xs:string" use="optional" />
            <xs:attribute name="Assembly" type="xs:string" use="required" />
            <xs:attribute name="Class" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="DefaultProvider" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>
